.theme-toggle {
  position: fixed;
  top: 20px;       /* 👈 top se 20px */
  right: 20px;     /* 👈 right se 20px */
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  z-index: 9999;
  color: #111;   /* icon color */
  transition: background .2s, color .2s, box-shadow .2s;
  border: none;  /* border remove */
}


.theme-toggle:focus {
  outline: none;
}
.theme-toggle:hover {
  background: rgba(255,255,255,0.35);
}

.icon { display: block; }
/* Light mode: show sun, hide moon */
.theme-toggle .moon { display: none; }

/* Dark mode: show moon, hide sun */
body.dark .theme-toggle .sun { display: none; }
body.dark .theme-toggle .moon { display: block; }

body.dark .theme-toggle {
  color: #ffffff;
}

body.dark .theme-toggle {
  color: #ffffff;
}

body.dark .forgot-password:hover {
    color: #474747;
}

body.dark .theme-toggle i {
  color: #ffffff;
  margin: 1px;
}

body.dark .forgot-password {
  color: white;
  font-weight: 500;
}
